<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JS交互.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEBD16EF1F42BC89001FCCB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEBD17081F42BC8A001FCCB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEBD17131F42BC8A001FCCB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
