<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10_String.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE5D636F1EF3CC7300FE2CD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE5D63831EF3CC7300FE2CD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE5D638E1EF3CC7300FE2CD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
