<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swift 3.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B2FF64C1F56B43300E9FF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B2FF6601F56B43400E9FF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B2FF66B1F56B43400E9FF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
